.button-link {
    border: none;
    background: none;
    outline: 0;
    font-size: 1em;
    color: var(--font-white);
    border-radius: 8px;
    border: 2px solid var(--font-white);
    padding: 0.7em 0.9em;
    text-decoration: none;
    text-wrap: nowrap;
}

.button-link:hover {
    transition: 0.2s all;
    color: var(--color-secundary);
    border: 2px solid var(--color-secundary);
    cursor: pointer;
}