.div-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    label {
        margin-bottom: 0.4em;
        font-weight: 500;
        font-size: 1em;
        color: var(--font-white);
    }
    
    input {
        background: none;
        border: none;
        outline: none;
        width: 300px;
        height: 40px;
        padding: 0.2em;
        background-color: var(--font-white);
        color: var(--font-black);
        font-size: 1em;
        border-radius: 0.2em;
    }
    
    input::placeholder {
        color: #656262;
        font-size: 14px;
    }
}