.footer {
    height: 120px;
    background-color: var(--bg-secundary);
    color: var(--font-black);
    padding: 2em;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    .social-list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
    
        li {
            font-size: 1.8em;
        }
        
        li:hover {
            color: var(--color-secundary);
            cursor: pointer;
            transition: all 0.3s;
        }
    }
    
    .costs-copy {
        font-size: 1em;
        font-weight: 400;
    }
}