* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg: #262525;
    --bg-secundary: #cec9c9;
    --font-white: #eae8e8;
    --font-black: #151515;
    --color-primary: #5572b5;
    --color-secundary: #5974b3;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    min-width: 320px;
    min-height: 100vh;
    padding: 1em;
    background-color: var(--bg);
    color: var(--font);
}